Makefile
config.cache
config.h
config.log
config.status
config.sub
config.guess
aclocal.m4
version.c
wvAbw
wvCleanLatex
wvDVI
wvHtml
wvLatex
wvPDF
wvPS
wvText
wvWml
GNUmakefile.in
autom4te.cache
configure
depcomp
ltmain.sh
missing
stamp-h.in
*.swp
